a{background-color:transparent; text-decoration:none;}a:active,a:hover{outline-width:0}
.PostListTitle {text-decoration:none; font-size:18px;}
.sg-dark-blue,.sg-hover-dark-blue:hover{color:#fff!important;background-color:#091384!important}
.sg-charcoal-black,.sg-hover-charcoal-black:hover{color:#fff!important;background-color:#36454F!important}