---
layout: default
title: SG Security Blog
---
	<ul class="posts">
	  {% for post in site.posts limit:10 %}
            {% if post.image And post.image != "" And post.image != nil %}
                <img src="{{ site.baseurl }}/assets/images/{{ post.image }}">
            {% else %}
            {% endif %}
	    <li><span>{{ post.date | date_to_string }}</span>: <a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></li>
	    {{ post.excerpt }}
          {% endfor %}
	</ul>
        <p>
        <a href="/blog">View All Posts</a>
        </p>
