<div class="w3-card">
            {% if post.image And post.image != "" And post.image != nil %}
                <img class="w3-mobile" src="{{ site.baseurl }}/assets/images/{{ post.image }}">
            {% else %}
            {% endif %}
            <div class="w3-container w3-mobile">
                <p>
                    <a href="{{ post.url }}" title="{{ post.title }}" class="PostListTitle">{{ post.title }}</a >
                </p>
                <hr>
                <p>{{ post.post_description }}</p>
	        <p class="w3-small">{{ post.date | date_to_string }}</p>
            </div>
        </div>
