<div class="w3-card w3-section">
        <div class="w3-row-padding">
            <div class="w3-quarter">
                {% if post.image And post.image != "" And post.image != nil %}
                <img style="width:100%" {% if post.image_alt_text and post.image_alt_text != "" and post.image_alt_text != nil %} alt="{{ post.image_alt_text }}" {% endif %}  src="{{ site.baseurl }}/assets/images/{{ post.image }}">
                {% else %}
                {% endif %}
            </div>
            <div class="w3-threequarter">
                <p>
                    <a href="{{ post.url }}" title="{{ post.title }}" class="PostListTitle">{{ post.title }}</a >
                </p>
                <hr>
                <p>{{ post.post_description }}</p>
	        <p class="w3-small">{{ post.date | date_to_string }}</p>
            </div>
        </div>
</div>