---
layout: default
title: SG Security Blog
---
<h3>Tags</h3>
{% assign sorted_tags = site.tags | sort %}
{% for tag in sorted_tags %}
    <ul>
        <li><a href="#{{ tag[0] }}"> {{ tag[0] }}</a></li>
    </ul>
{% endfor %}
</br>
{% for tag in sorted_tags %}
    <h4 id="{{ tag[0] }}">{{ tag[0] }}</h4>
    <ul>
    {% for post in tag[1] %}
        <li>
            <span>{{ post.date | date_to_string }}</span>: <a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a>
        </li>
    {% endfor %}
    </ul>
{% endfor %}
