<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
                        <meta name="viewport" content="width=device-width, initial-scale=1">
                        <link rel="stylesheet" type="text/css" href="/css/W3.css">
		</head>
		<body>
			<div class="w3-container">
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about">About</a></li>
	        		<li><a href="/blog">Posts</a></li>
                                <li><a href="/blog/tags.html">Tags</a></li>
	    		</ul>
			</div>
			<div class="w3-container" >
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:sgsec@tutanota.com">email</a></li>
	        		<li><a href="https://github.com/sgsec">github.com/sg-sec</a></li>
                                <li><a href="https://blog.sg-sec.co.uk/feed.xml">RSS</a></li>
				</ul>
			</footer>
		</body>
	</html>
