<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
                        <meta name="viewport" content="width=device-width, initial-scale=1">
                        <link rel="stylesheet" type="text/css" href="/css/W3.css">
                        <link rel="stylesheet" type="text/css" href="/css/sgsec.css">
		</head>
		<body class="w3-content sg-charcoal-black">
                        <nav class="w3-sidebar w3-bar-block w3-card w3-animate-right sg-dark-charcoal-black" style="display:none;right:0;" id="mySidebar">
                                <a href="javascript:void(0)" onclick="w3_close()" class="w3-button w3-black w3-right">&times;</a><br>
                                <a class="w3-bar-item w3-button" href="/">Home</a> 
                                <a class="w3-bar-item w3-button" href="/about">About</a>
                                <a class="w3-bar-item w3-button" href="/blog">Posts</a> 
                                <a class="w3-bar-item w3-button" href="/blog/tags.html">Tags</a> 
                        </nav>
			<header class="w3-bar sg-dark-charcoal-black">
                                <h2 class="w3-bar-item"><a href="/">SG Security Journal</a></h2>
                                <button class="w3-button w3-bar-item sg-dark-charcoal-black w3-xxlarge w3-right" onclick="w3_open()">&#9776;</button>
			</header>
                       
			<div class="w3-container" >
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer class="w3-container sg-dark-charcoal-black">
	    		        <a class="w3-bar-item w3-button" href="mailto:sgsec@tutanota.com">email</a>
                                <a class="w3-bar-item w3-button" href="https://github.com/sg-sec"> github.com/sg-sec</a>
                                <a class="w3-bar-item w3-button" href="https://blog.sg-sec.co.uk/feed.xml">rss</a>
			</footer>
                <script>
                function w3_open() {
                     document.getElementById("mySidebar").style.display = "block";
                }
                function w3_close() {
                     document.getElementById("mySidebar").style.display = "none";
                }
                </script>
		</body>
	</html>
