<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
                        <meta name="viewport" content="width=device-width, initial-scale=1">
                        <link rel="stylesheet" type="text/css" href="/css/W3.css">
		</head>
		<body>
			<header class="w3-container w3-light-grey">
                        <button class="w3-button w3-light-grey w3-xxlarge" onclick="w3_open()">&#9776;</button>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about">About</a></li>
	        		<li><a href="/blog">Posts</a></li>
                                <li><a href="/blog/tags.html">Tags</a></li>
	    		</ul>
			</header>
                        <nav class="w3-sidebar w3-bar-block w3-black w3-card" style="display:none" id="mySidebar">
                                <a href="javascript:void(0)" onclick="w3_close()" class="w3-button w3-black w3-right">&times;</a><br>
                                <a class="w3-bar-item w3-button" href="/">Home</a> 
                                <a class="w3-bar-item w3-button" href="/blog">Posts</a> 
                                <a class="w3-bar-item w3-button" href="/blog/tags.html">Tags</a> 
                        </nav>
			<div class="w3-container" >
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:sgsec@tutanota.com">email</a></li>
	        		<li><a href="https://github.com/sgsec">github.com/sg-sec</a></li>
                                <li><a href="https://blog.sg-sec.co.uk/feed.xml">RSS</a></li>
				</ul>
			</footer>
                <script>
                function w3_open() {
                     document.getElementById("mySidebar").style.display = "block";
                }
                function w3_close() {
                     document.getElementById("mySidebar").style.display = "none";
                }
                </script>
		</body>
	</html>
